/*----------------------------------------------

1. CRNA:            #101119;
2. SVETLO PLAVA:    #A0AABB;
3. BELA:    	    #FFFFFF;
4. SVETLO CRVENA:   #EF233C;
5. TAMNO CRVENA:    #B80028;

----------------------------------------------*/

#zanimljivosti h2 {
    color: #B80028;
}

.zanimljivosti-kartice {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kartica {
    width: 30%;
    margin-bottom: 40px;
    background-color: #f2f2f8;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.kartica img {
    width: 100%;
}

.kartica-tekst {
    padding: 20px 30px;
}

/*----------------------- RESPONZIVNOST --------------------------------------*/

@media (max-width: 1000px) {

    .kartica img{
        width: 140%;
    }

}

@media (max-width: 900px) {

    .kartica {
        width: 40%;
    }

    .kartica img{
        width: 100%;
    }

}

@media (max-width: 600px) {

    .kartica {
        width: 45%;
    }

}

@media (max-width: 500px) {

    .kartica {
        width: 80%;
    }

    #zanimljivosti h2 {
        text-align: center;
    }

    .zanimljivosti-kartice {
        justify-content: center;
    }

}

@media (max-width: 400px) {

    .kartica {
        width: 90%;
    }

}